.del{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-red;
  color: rgba(#fff,0.9);
  transition: 0.3s;
  width: 100%;
  &--round{
    border-radius: 50%;
  }
  &:hover{
    background-color: lighten($main-red,10);
  }
  &--sm{
    height: 40px;
    width: 40px;
  }
}
.reload{
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &--sm{
    height: 40px;
    width: 40px;
  }
  &--round{
    border-radius: 50%;
  }
}
.reload.active{
  pointer-events: auto;
  background-color: $main-green;
  color: #fff;
}