.cust-btn{
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  outline: none;
  color: inherit;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  width: 100%;
  text-align: center;
  &--round{
    border-radius: 50%!important;
  }
  &--rounded{
    border-radius: 50px;
  }
  &--tap{
    width: 48px;
    height: 48px;
    padding: 8px;
  }
  &--soft-round{
    border-radius: 3px;
  }
  &--sm{
    max-width: 148px;
    width: 100%;
  }
  &--md{
    max-width: 200px;
    min-height: 40px;
  }
  &--lg{
    max-width: 220px;
    min-height: 48px;
  }
  &--xl{
    max-width: 240px;
    min-height: 48px;
  }
  &--xxl{
    max-width: 300px;
    min-height: 48px;
  }
  &--h{
    &-xl{
      min-height: 48px;
    }
  }
  &--img{
    padding: 0;
  }
  &--clear{
    background: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    outline: none;
  }
  &--primary{
    background-color: $main-blue;
    color: #fff;
    &:hover{
      background-color: lighten($main-blue,5);
    }
  }
  &--primaryHover:hover{
    background-color: lighten($main-blue,5);
    color: #fff;
  }
  &--secondary{
    background-color: $main-green;
    color: #fff;
    &:hover{
      background-color: $main-greenHover;
      color: #fff;
    }
  }
  &--bordered{
    border: 1px solid $main-border-color;
  }
  &--third{
    background-color: $main-grey;
    color: #fff;
    &:hover{
      color: #fff;
      background-color: $main-blue;
    }
  }
  &--forth{
    background-color: $main-light-grey;
    color: $main-medium-grey;
    &:hover{
      color: #fff;
      background-color: $main-blue;
    }
  }
}