.cust-input{
  display: block;
  position: relative;
  &__field{
    width: 100%;
    border-radius: 3px;
    padding: 0 8px;
    height: 40px;
    border: 1px solid rgba($main-medium-grey,0.6);
  }
  &--required{
    &:before{
      position: absolute;
      color: red;
      bottom: 3px;
      right: 100%;
      margin-right: 8px;
      content:"*"
    }
  }
  .maxSymb{
    right: 0;
    display: block;
    text-align: right;
    font-size: 12px;
  }
  &__title{
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 600;
  }
  &__show{
    width:  32px;
    height: 32px;
    padding: 8px;
    position: absolute;
    right:  0;
    bottom: 8px;
    cursor: pointer;
    &.active{
      color: $main-blue;
    }
    svg{
      pointer-events: none;
    }
  }

  &__passgen{
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 24px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: $main-light-grey;
    color: #000;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
  }
  .showGen~&__passgen, &__passgen:hover{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  &__mesg{
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    opacity: 0;
    transition: 0.3s;
    background-color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    margin-top: 4px;
    transform: scaleY(0);
    transform-origin: top;
    color: red;
    &:after{
      position: absolute;
      bottom: 100%;
      left: 16px;
      border-bottom: 4px solid #fff;
      border-left:  5px solid transparent;
      border-right: 5px solid transparent;
      content: "";
    }
  }
}
.cust-input.suc{
  &:after{
    position: absolute;
    width: 10px;
    height: 14px;
    bottom: 12px;
    margin-left: 8px;
    left: 100%;
    border-bottom: 4px solid $main-green;
    border-right:  4px solid $main-green;
    transform: rotate(45deg) ;
    content: "";
  }
}
.cust-input.err{
  .cust-input{
    &__field{
      box-shadow: 0 0 1px 1px red;
    }
    &__mesg{
      transform: scaleY(1);
      opacity: 1;
    }
  }
}