.form-selected{
  width: 100%;
  display: block;
  select{
    width: 100%;
    display: block;
    height: 40px;
    padding: 8px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid $main-border-color;
  }

  &__select{
    position: relative;
    &:after{
      position: absolute;
      top:50%;
      right: 8px;
      transform: translateY(-50%);
      border-top: 4px solid $main-grey;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      content: "";
    }
  }
  span{
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
  }
}