$off: $main-blue;
$on: $main-green;

.power {
  display: table;
  cursor: pointer;

  input {
    display: none;
    & + span {
      max-width: 32px;
      max-height: 32px;
      position: relative;
      overflow: hidden;
      background: $off;
      border-radius: 5px;
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .4s ease;
      filter: drop-shadow(0 4px 6px rgba($off, .3));
      &:before {
        content: '';
        width: 2.5px;
        height: 11px;
        border-radius: 2px;
        background: #fff;
        position: absolute;
        left: 51%;
        z-index: 2;
        margin: 0 0 0 -2px;
        top: 2px;
        opacity: 1;
        transform: scaleY(1) translate(0.5px, 2px);
        transition: opacity .4s ease .1s, transform .9s ease .4s;
      }
      &:after {
        content: '';
        position: absolute;
        right: 9px;
        top: 2px;
        width: 200%;
        height: 200%;
        border-radius: 5px;
        background: #41b64d;
        transform: rotate(45deg) scaleX(0);
        transform-origin: bottom right;
        transition: 1s ease;

      }
      svg {
        width:  24px;
        height: 24px;
        fill: none;
        display: block;
        stroke: #fff;
        position: relative;
        z-index: 2;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-dasharray: 84;
        stroke-dashoffset: 160;
        transform: translate3d(0, 0, 0);
        transition: stroke-dasharray .6s ease 0s, stroke-dashoffset .7s ease .0s;
      }
      &:active {
        transform: scale(.96);
      }
    }
    &:checked + span {
      filter: drop-shadow(0 4px 6px rgba($on, .3));
      svg {
        stroke-dasharray: 120;
        stroke-dashoffset: 133;
        transition: stroke-dasharray .6s ease .45s, stroke-dashoffset .7s cubic-bezier(.94, -.1, .1, 1.2) .2s;
      }
      &:before {
        transform: scaleY(0) translate(0, 7px);
        transition: opacity .4s ease .0s, transform .6s ease .3s;
      }
      &:after {
        transform: rotate(45deg) scaleX(1);
      }
    }
  }
  &--sm{
    input + span:before {
      content: '';
      width: 3px;
      height: 11px;
      left: 48.9%;
      top: 6px;
      transform: scaleY(1) translate(1px, 2px);
    }
    input + span {
      max-width:  40px;
      max-height: 40px;
      padding: 8px;
    }
    input + span svg {
      width:  32px;
      height: 32px;
    }
  }
  &--md{
    input + span:before {
      content: '';
      width: 4px;
      height: 14px;
      left: 49.3%;
      top: 6px;
      transform: scaleY(1) translate(1px, 2px);
    }
    input + span {
      max-width: 48px;
      max-height: 48px;
      padding: 8px;
    }
    input + span svg {
      width: 40px;
      height: 40px;
    }
  }
  &--lg{
    input + span:before {
        content: '';
        width: 5px;
        height: 16px;
        left: 48%;
      }
     input + span {
        max-width: 48px;
        max-height: 48px;

      }
     input + span svg {
        width: 40px;
        height: 40px;
      }
    }
}
@media all and(max-width:$mobile-Width){
  .power--adapt {
    &.power{
      &--md{
        input + span:before {
          content: '';
          width: 4px;
          height: 10px;
          left: 48.5%;
          top: 4px;
        }
        input + span {
          max-width: 40px;
          max-height: 40px;
          padding: 6px;
        }
        input + span svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
