.newAdvert{
  &__title{
    font-size: 24px;
    font-weight: 600;
  }
  &__top{
    align-items: center;
    padding-top: 24px;
    p{
      text-align: right;
    }
  }
  &__steps{
    margin-left: 64px;
  }
  &__attach-exFiles{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
  }
}
@media all and(max-width:$mobile-Width){
  .newAdvert{
    &__steps{
      margin-top: 16px;
      width: 100%;
      margin-left: 0;
    }
  }
}