.step-item{
  padding: 20px 0;
  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
  }
  &__number{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: $main-green;
    span{
      background-color: #fff;
      width:  70%;
      height: 70%;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
  &__title-text{
    padding-left: 40px;
    margin-left: -10px;
    flex-grow: 1;
    height: 48px;
    font-size: 18px;
    align-items: center;
    display: flex;
    color: #fff;
    background-color:$main-green;
  }
  &__body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__map{

    max-width: 600px;
    width: 100%;
    margin:  0 auto;
    margin-top: 32px;
    height: 300px;
  }
  &__column{
    width: 50%;
    label{
      display: block;
      max-width: 400px;
      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
}