.ourPlans{
  &__team-slider{
    padding: 8px 12px 32px;
    margin: 24px -12px 0;
  }
  &__img{
    position: relative;
  }
  &__arrow{
    position: absolute;
    top: 44%;
    left: 29%;
    width: 62.45%;
    padding-top: 6.6%;
    background-size: contain;
    background-position: center;
    transform: translate3d(200%,-50%,0);
    background-repeat: no-repeat;

    transform-origin: left;
    &:before{
      width: 40%;
      height: 50%;
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: -5%;
      border-radius: 50% 0 0 50%;
      transform-origin: left ;
      background: linear-gradient(to top ,transparent,rgba($main-grey,0.1),transparent),
      linear-gradient(to right ,rgba($main-grey,0.5),transparent,transparent);
      transform: rotate(45deg);
    }
  }
  &__img.appeared &__arrow{
    animation: arrowShot 1.3s linear 1 forwards;
    animation-delay: 1s;
    &:before{
      animation: arrowShadowAnim 1.3s linear 1 forwards;
      animation-delay: 1s;
    }

  }
  &__img-topText{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 100%;
    max-width: 540px;
    blockquote{
      font-size: 32px;
      font-weight: 600;
      font-family: 'aFuturaOrto',arial,sans-serif;
      text-align: center;
      margin-bottom: 0;
      color: $main-blue;
    }
    p{
      font-size: 18px;
      text-align: center;
      font-weight: 600;
      font-family: 'aFuturaOrto',arial,sans-serif;
    }
  }
  &__img-bottomText{
    font-size: 18px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 100%;
    text-align: right;
  }
  & &__team-pag{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom:0;
  }
  &__content{
    padding: 40px 0;
    margin: 0 auto;
    position: relative;

    &:after{
      position: absolute;

    }
    .route-card{
      &:not(:last-child){
        margin-bottom: 26px;
      }
      &--reverse{
        margin-left: auto;
      }
    }
  }
  &__team{
    margin-top: 24px;
  }
  &__articles{
    margin-top: 40px;
  }
}
@media all and(max-width: $mobile-Width){
  .ourPlans{
    .route-card{
      &:not(:last-child){
        margin-bottom: 32px;
      }
    }
    &__img-bottomText{
      display: none;
    }
    &__img-topText{
      max-width: 340px;
      blockquote{
        font-size: 24px;
      }
      p{
        font-size: 16px;
      }
    }
  }
}
@media all and(max-width: $mobile-Width){
  .ourPlans{
    &__img-topText{
      max-width: 300px;
      blockquote{
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}