.advert-slider{
  &__pag{
    position: absolute;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    padding: 8px;
    display: flex;
    top: 32px;
    right: 32px;
    left: auto;
    z-index: 1;
    background-color: rgba(#fff,0.4);
    border-radius: 5px;
  }
}