.editAdvert{
  padding: 16px 0 40px 0;
  &__top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $main-border-color;
    padding: 8px 0;
  }
  &__timeInfo{
    display: flex;
    p{
      display: flex;
      padding: 4px 12px;
      &:first-child{
        padding-left: 0;
      }
      &:not(:first-child){
        border-left: 1px solid $main-border-color;
      }
      align-items: center;
      font-size: 16px;
      line-height: 1;
      color: $main-medium-grey;
      .icon{
        margin-left: 8px;
      }
      span{
        color: $main-grey;
      }
    }
  }
  &__content{
    display: flex;
    padding: 40px 0;
  }
  &__photo{
    flex-grow: 1;
    max-width: 70%;
    margin-left: auto;

  }
  &__slider{
    height: 512px;
    max-height: 512px;
    img{
      width: 100%;
      max-height: 512px;
      height: auto;
      object-fit: contain;
      margin: 0 auto;
      display: block;
    }
  }
  &__desc{
    width: 100%;
    textarea{
      min-height: 300px;
      width: 100%;
      resize: none;
      padding: 16px;
      border: none;
      border-bottom: 1px solid $main-border-color;
      outline: none;
    }
  }

  &__number{
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
    span{
      color: $main-green;
    }
  }
  &__sidebar{
    max-width: 320px;
  }
  &__title{
    width: 100%;
    display: block;
    border-bottom : 1px solid $main-border-color;
    margin-bottom: 16px;
    span{
      font-size: 14px;
      color: $main-medium-grey;
      display: block;
      padding: 2px;
      border-bottom: 1px solid $main-border-color;
    }
    textarea{
      padding-top: 8px;
      width: 100%;
      font-size: 24px;
      display: block;
      background: none;
      resize: initial;
      overflow: visible;
      border: none;
      outline: none;
      min-height: 48px;
      line-height: 24px;
    }
  }
  &__extraInfo{
    textarea{
      max-height: 56px;
      border: none;
      border-bottom: 1px solid $main-border-color;
      outline: none;
      background-color: transparent;
      resize: none;

      &:focus{
        max-height: none;
      }
      width: 100%;
      scrollbar-width: none;//mozilla
      &::-webkit-scrollbar {//-webkit-
        width: 0px !important;
      }
      &::-webkit-scrollbar-thumb{
        width: 0;
      }
      -ms-overflow-style: none;// IE
    }
  }
  &__label{
    display: block;
    &:not(:last-child){
      margin-bottom: 16px;
    }
    span{
      font-size: 14px;
    }
    input{
      width: 100%;
      display: block;
      min-height: 40px;
      padding: 0 8px;
      border-radius: 4px;
      border: 1px solid $main-border-color;
    }
    .select{
      position: relative;
      width: 100%;
      display: block;
      &:before{
        position: absolute;
        top: 50%;
        right: 8px;
        border-top:4px solid #000;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        transform: translateY(-50%);
        content: "";
        z-index: 2;
        pointer-events: none;
      }
      select{
        border: 1px solid $main-border-color;
        width: 100%;
        border-radius: 4px;
        padding: 0 8px;
        background-color: #fff;
        position: relative;
        min-height: 40px;
      }
    }
  }
  &__slider-preview{
    margin-top: 24px;
  }
  &__save-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: none;
    width: 100%;
    max-width: 282px;
    height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 85%;
      padding: 0 16px;
      background-color: $main-grey;
      color: #fff;
      height: 40px;
      font-size: 18px;
      transition: 0.3s;
      cursor: pointer;
      &:hover{
        background-color: $main-blue;
      }
    }
    &:after{
      width: 100%;
      display: flex;
      position: static;
      border-bottom: 1px solid $main-grey;
      content:"";
    }
  }
  &__attach{
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid $main-border-color;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 40px;
    &:hover{
      background-color: $main-blue;
      color: #fff;
    }
    span{
      max-width: 80px;
      pointer-events: none;
      text-align: center;
      &:not(:last-child){
        margin-right: 8px;
      }
    }
    i{
      pointer-events: none;
    }
    input{
      display: none;
    }
  }
}