<p class="articles__readMore">Читайте также...</p>
<div class="articles__slider-wrap">
    <div class="articles__slider-prev slider-nav-prev"></div>
    <div class="advert__articles articles swiper-container">
        <div class="swiper-wrapper">
            <div class="articles__item swiper-slide">
                <a href="#" class="articles__img" style="background-image: url('dist/img/artice.jpg')"></a>
                <div class="articles__info">
                    <p class="articles__title">BMW против Mercedes</p>
                    <p class="articles__text">Для легенды, но только один победитель. Авторитетные машины Для легенды, но только один победитель. Авторитетные машины Для легенды, но только один победитель. Авторитетные машины</p>
                </div>
            </div>
            <div class="articles__item swiper-slide">
                <a href="#" class="articles__img" style="background-image: url('dist/img/artice.jpg')"></a>
                <div class="articles__info">
                    <p class="articles__title">BMW против Mercedes</p>
                    <p class="articles__text">Для легенды, но только один победитель. Авторитетные машины Для легенды, но только один победитель. Авторитетные машины Для легенды, но только один победитель. Авторитетные машины</p>
                </div>
            </div>
            <div class="articles__item swiper-slide">
                <a href="#" class="articles__img" style="background-image: url('dist/img/artice.jpg')"></a>
                <div class="articles__info">
                    <p class="articles__title">BMW против Mercedes</p>
                    <p class="articles__text">Для легенды, но только один победитель. Авторитетные машины Для легенды, но только один победитель. Авторитетные машины Для легенды, но только один победитель. Авторитетные машины</p>
                </div>
            </div>
            <div class="articles__item swiper-slide">
                <a href="#" class="articles__img" style="background-image: url('dist/img/artice.jpg')"></a>
                <div class="articles__info">
                    <p class="articles__title">BMW против Mercedes</p>
                    <p class="articles__text">Для легенды, но только один победитель. Авторитетные машины Для легенды, но только один победитель. Авторитетные машины Для легенды, но только один победитель. Авторитетные машины</p>
                </div>
            </div>
        </div>
        <div class="articles__pag cust-bul cust-bul--secondary"></div>
    </div>
    <div class="articles__slider-next slider-nav-next"></div>
</div>