<div class="header">
    <nav class="nav header__nav">
        <div class="container d-flex">
            <div class="burger" id="headerBurger">
                <div class="burger__line"></div>
                <div class="burger__line"></div>
                <div class="burger__line"></div>
            </div>
            <a href="#" class="header__logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 212.8 88.2" style="enable-background:new 0 0 212.8 88.2;" xml:space="preserve">
                        <path fill="#fff" d="M86.2,45.1c0,24.9-19.3,45.1-43.1,45.1S0,70.1,0,45.1S19.3,0,43.1,0S86.2,20.2,86.2,45.1z M42.1,16.8
                            c-14.9,0-26.9,12.6-26.9,28.2s12.1,28.2,26.9,28.2s26.9-12.6,26.9-28.2S57,16.8,42.1,16.8z"/>
                    <polygon fill="#43B64D" class="st1" points="97,3.2 113.9,2.3 114.7,70 143.5,70.9 143.7,88 97.2,87.4 "/>
                    <polygon fill="#fff" points="154.2,2 215,2.6 181.5,69.4 180.7,71.8 212.8,72.1 212.8,88.2 151.9,88 185.7,20 152.5,20.3 152.8,2.3
                            "/>
                    </svg>

            </a>
            <ul class="nav__list header__nav-list" id="headerList">
                <li class="nav__item">
                    <button type="button" class="light-mode-btn light-mode-btn--mob" data-lightmode>
                        <span class="light-mode-btn__text light-mode-btn__text--day">DAYMODE</span>
                        <span class="light-mode-btn__text light-mode-btn__text--night">NIGHTMODE</span>
                        <span class="light-mode-btn__thumb-wrap">
                                <span class="light-mode-btn__thumb">
                        <span class="light-mode-btn__icon light-mode-btn__icon--day">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 228 228">
                                <rect x="204" y="94.5" width="9" height="39" rx="4.5" transform="translate(94.5 322.5) rotate(-90)"/>
                                <path d="M114,228h0a4.5,4.5,0,0,1-4.5-4.5v-30A4.51,4.51,0,0,1,114,189h0a4.5,4.5,0,0,1,4.5,4.5v30A4.49,4.49,0,0,1,114,228Z"/>
                                <path d="M114,171.44A57.44,57.44,0,1,1,171.44,114,57.51,57.51,0,0,1,114,171.44Zm0-106.06A48.63,48.63,0,1,0,162.63,114,48.68,48.68,0,0,0,114,65.38Z"/>
                                <rect x="15" y="94.5" width="9" height="39" rx="4.5" transform="translate(-94.5 133.5) rotate(-90)"/><path class="cls-1" d="M114,39h0a4.5,4.5,0,0,1-4.5-4.5V4.5A4.5,4.5,0,0,1,114,0h0a4.49,4.49,0,0,1,4.5,4.5v30A4.49,4.49,0,0,1,114,39Z"/>
                                <path d="M61,61h0a4.5,4.5,0,0,1-6.37,0L33.39,39.75a4.49,4.49,0,0,1,0-6.36h0a4.49,4.49,0,0,1,6.36,0L61,54.6A4.5,4.5,0,0,1,61,61Z"/>
                                <path d="M194.61,194.61h0a4.49,4.49,0,0,1-6.36,0L167,173.4a4.49,4.49,0,0,1,0-6.36h0a4.49,4.49,0,0,1,6.36,0l21.21,21.21A4.49,4.49,0,0,1,194.61,194.61Z"/>
                                <path d="M61,167h0a4.49,4.49,0,0,1,0,6.36L39.75,194.61a4.49,4.49,0,0,1-6.36,0h0a4.49,4.49,0,0,1,0-6.36L54.6,167A4.5,4.5,0,0,1,61,167Z"/>
                                <path d="M194.61,33.39h0a4.49,4.49,0,0,1,0,6.36L173.4,61A4.49,4.49,0,0,1,167,61h0a4.5,4.5,0,0,1,0-6.37l21.21-21.21A4.49,4.49,0,0,1,194.61,33.39Z"/>
                            </svg>
                        </span>
                        <span class="light-mode-btn__icon light-mode-btn__icon--night">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 189.12 188.46">
                                <path d="M90,188.46A89.94,89.94,0,0,1,83.75,8.8,4.49,4.49,0,0,1,87.6,16,76.07,76.07,0,0,0,71.38,63.24a77,77,0,0,0,76.9,76.91,78.37,78.37,0,0,0,13.65-1.23,4.49,4.49,0,0,1,4.61,6.77A89.47,89.47,0,0,1,90,188.46ZM74.67,19A81,81,0,1,0,153.3,149c-1.68.1-3.35.15-5,.15A86,86,0,0,1,62.4,63.24,84.94,84.94,0,0,1,74.67,19Z"/>
                                <path d="M165.57,63.33A4.49,4.49,0,0,1,161.22,60a21.58,21.58,0,0,0-15.47-15.53,4.43,4.43,0,0,1-2.53-1.26l-.07-.07a4.49,4.49,0,0,1,2.13-7.54,21.6,21.6,0,0,0,15.89-15.83,4.49,4.49,0,0,1,8.72,0A21.6,21.6,0,0,0,185.7,35.54a4.49,4.49,0,0,1,0,8.72,21.56,21.56,0,0,0-15.78,15.68,4.48,4.48,0,0,1-4.34,3.39ZM157.3,39.91a30.85,30.85,0,0,1,8.25,8.17,30.45,30.45,0,0,1,8.19-8.18,30.45,30.45,0,0,1-8.21-8.21,31.8,31.8,0,0,1-3.71,4.5A30.82,30.82,0,0,1,157.3,39.91Z"/>
                                <path d="M133,25.48a4.49,4.49,0,0,1-4.35-3.38A6.79,6.79,0,0,0,126.83,19a6.89,6.89,0,0,0-3-1.76A4.37,4.37,0,0,1,121.47,16a4.51,4.51,0,0,1,2.09-7.57,6.79,6.79,0,0,0,5-5A4.48,4.48,0,0,1,132.94,0h0a4.48,4.48,0,0,1,4.36,3.42,6.86,6.86,0,0,0,5,5,4.48,4.48,0,0,1,0,8.71,6.82,6.82,0,0,0-5,4.95,4.48,4.48,0,0,1-4.34,3.4Z"/>
                            </svg>
                        </span>
                    </span>
                            </span>
                    </button>
                    <button type="button" class="header__lang header__lang--mob lang" data-langopen>
                        <img src="dist/img/lang.png">
                    </button>
                </li>
                <li class="nav__item">
                    <a class="text--white" href="#">О нас</a>
                </li>
                <li class="nav__item" data-navAccord>
                    <a class="text--white" href="#">Руководство<br>пользователя</a>
                    <ul class="nav__sub-list">
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                    </ul>
                </li>
                <li class="nav__item" data-navAccord>
                    <a class="text--white" href="#">Блог</a>
                    <ul class="nav__sub-list">
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                    </ul>
                </li>
                <li class="nav__item" data-navAccord>
                    <a class="text--white" href="#">Цены и предложения</a>
                    <ul class="nav__sub-list">
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                    </ul>
                </li>
                <li class="nav__item" data-navAccord>
                    <a class="text--white" href="#">Помощь</a>
                    <ul class="nav__sub-list">
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                    </ul>
                </li>
                <li class="nav__item" data-navAccord>
                    <a class="text--white" href="#">Контакты</a>
                    <ul class="nav__sub-list">
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                        <li class="nav__sub-item"><a href="#">Руководство</a></li>
                    </ul>
                </li>

            </ul>
            <!--<a href="#" class="header__mobile-logo">
                <img src="dist/img/logo2.png">
            </a>-->
            <div class="header__profile profile-top">
                <p class="text--white profile-top__btn" href="#" data-authopen>Личный кабинет
                    <span class="profile-top__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z"></path>
                            </svg>
                        </span>
                </p>
                <div class="profile-top__wrap">
                    <a class="profile-top__item" href="#">Руководство</a>
                    <a class="profile-top__item" href="#">Руководство</a>
                    <a class="profile-top__item" href="#">Руководство</a>
                    <a class="profile-top__item" href="#">Руководство</a>
                    <a class="profile-top__item" href="#">Руководство</a>
                    <a class="profile-top__item" href="#">Руководство</a>
                    <button class="profile-top__exit">Выход</button>
                </div>
            </div>
            <button type="button" class="header__lang lang header__lang--desktop" data-langopen>
                <img src="dist/img/lang.png">
            </button>
        </div>
    </nav>
</div>