.articles{
  z-index: 2;
  position: relative;
  padding: 32px 10px;
  margin-left: -10px;
  margin-right: -10px;
  .swiper-wrapper{
    max-height: 160px;
  }
  &__slider-wrap{
    position: relative;
  }
  &__item{
    display: flex;
    max-height: 160px;
    overflow: hidden;
    border: 1px solid $main-border-color;
    position: relative;
    transition: 0.3s;
    transform: translateZ(0);
    &:hover{
      box-shadow: 0 0 16px 4px $main-border-color;
      transform: scale(1.005)translateZ(0);
    }
  }
  & &__pag{
    bottom: 0!important;
    top: auto;
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  &__readMore{
    font-size: 24px;
    padding-top: 16px;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    &:after{
      position: absolute;
      width: 300px;
      border-top: 2px solid $main-border-color;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      content:"";
    }
  }
  &__title{
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.6;
  }
  &__img{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 49%;
    min-height: 100%;
    margin-right: 2%;
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      z-index: 2;
    }
  }
  &__info{
    width: 49%;
    position: relative;
    padding: 8px;
    &:after{
      height: 16px;
      width: 37px;
      position: absolute;
      bottom: 12px;
      font-size: 20px;
      padding-left: 4px;
      padding-right: 4px;
      right:0;
      background-color: #fff;
      content:'...';
    }
    &:before{
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 8px;
      background-color: #fff;
      content:"";
    }
  }
  &__text{
    position: relative;
    font-size: 16px;
    line-height: 1.6;
  }
  &__slider-next,&__slider-prev{
    position: absolute;
    right: 100%;
    top: 32px;
    bottom:60px;
    width: 24px;
    &:hover{
      background-color: rgba($main-grey,0.1);
    }
  }
  &__slider-next{
    right: auto;
    left: 100%;
  }
}
@media all and(max-width: 1365px){
  .articles{
    &__slider-next,&__slider-prev{
      display: none;
    }
  }
}