.auth-popup{
  max-width: 500px;
  &__input{
    margin-bottom: 16px;
  }
  &__social{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    color: $main-blue;
    transition: 0.3s;
    &:hover{
      color: $main-green;
    }
  }
  &__body{
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    padding: 0;
    transform-origin: top;
    background-color: #fff;
    &.active{
      visibility: visible;
      opacity: 1;
      max-height: 100%;
      padding: 24px 32px;
    }
    &.active &--reg{
      padding: 24px 48px;
    }
  }
  &__check{
    display: flex;
    align-items: center;
    max-width: 80%;
    margin-bottom: 8px;
    span,a{
      line-height: 1.5;
    }
    .text{
      margin-left: 16px;
    }
  }
  &__btn{
    margin: 16px auto 0;
  }
}