.cust-btn{
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &--soft-round{
    border-radius: 3px;
  }
  &--sm{
    max-width: 148px;
    width: 100%;
  }
  &--md{
    max-width: 200px;
    min-height: 40px;
  }
  &--img{
    padding: 0;
  }
  &--clear{
    background: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    outline: none;
  }
  &--primary{
    background-color: $main-blue;
    color: #fff;
  }
  &--secondary{
    background-color: $main-green;
    color: #fff;
    &:hover{
      background-color: $main-greenHover;
      color: #fff;
    }
  }
  &--third{
    background-color: $main-grey;
    color: #fff;
    &:hover{
      color: #fff;
      background-color: $main-blue;
    }
  }
}