*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body-dark, .body-dark *{
  transition: 1s;
}
body{
  font-size: 16px;
  line-height: 1;
  font-family: 'SourceSansPro',sans-serif;
}
img{
  max-width: 100%;
  max-height: 100%;
}
svg{
  fill: currentColor;
  width: 100%;
  height: 100%;
}
a{
  color: $main-blue;
}

.page{
  padding-top: 72px;
}
.icon{
  width: 16px;
  height: 16px;
  display: flex;
}
.container{
  max-width: 1332px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  &--md{
    max-width: 1232px;
  }
}
.d-flex {
    display: flex;
}
.align-items-center{
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.d-block {
  display: block;
}




.logo{
  display: flex;
  img{
    object-fit: contain;
  }
  &--sm{
    height: 70px;
    max-height: 56px;
  }
  &--md{
    height: 70px;
    max-height: 64px;
  }
}
.main-gif{
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  img{
    width: 100%;
  }
}

@media all and(min-width:$tablet-width){
  .tel{
    pointer-events: none;
  }
}
@media all and(max-width:$small-tablet-width){
  .main-gif{
    display: none;
  }

}

