.header{
  position: fixed;
  max-height: 72px;
  top: 0;
  left: 0;
  right: 0;
  height:100%;
  z-index: 9999999;
  .burger{
    display: none;
  }
  &__nav{
    background-color: $main-blue;
    height: 100%;
    &>.container{
      height: 100%;
    }
  }
  &__mobile-logo{
    display: none;
  }
  &__logo{
    display: flex;
    justify-content: center;
    align-items: center;width: 80px;
    height: auto;
  }
  &__profile{
    margin: auto 0 auto 40px;
  }
  &__lang{
    margin: auto 0 auto 24px;
    flex-shrink: 0;
    &--mob{
      display: none;
    }
  }
}
@media all and(max-width: $small-tablet-width){
  .header {
    max-height: 56px;
    background-color: $main-blue;
    .burger{
      display: flex;
    }
    &__logo{
      margin:0 auto;
    }
    &__lang{
      margin-left: auto;
      &--desktop{
        display: none;
      }
      &--mob{
        display: flex;
      }
    }
    &__profile{

      margin: auto 0 auto 0;
      padding: 8px 0;
    }
    &__nav{
      padding: 0 0;
    }
    &__nav-list{
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      position: fixed;
      left: 0;
      top: 56px;

      bottom: 0;
      min-height: 100%;
      overflow-y: scroll;
      display: block;
      background-color: $main-blue;
      max-width: 320px;
      z-index: 10;
      transition: 0.5s;
      .nav__item{
        &:not(:last-child){
          margin-bottom: 16px;
        }
      }
    }
    &__nav-list.active{
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);

    }
  }
}