.main-catg{
  &-item {
    position: relative;
    display: block;

    &:nth-of-type(n+3) {
      margin-bottom: 16px;
    }
  }
  &-item__arrow{
    display: none;
    width: 50%;
    height: 64px;
    position: absolute;
    right: 15px;
    top: 0;
    &:after{
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      display: block;
      border-top: 4px solid $main-grey;
      border-left:   4px solid transparent;
      border-right:  4px solid transparent;
      content:"";

    }
  }
  &-item.active &-item__arrow{
    &:after{
      transform: rotate(180deg) translateY(2px);
    }
  }
  &-item.active &__sub-menu{
    visibility: visible;
    opacity: 1;
  }
  &__item{
    .info-box{
      padding-right: 24px;
    }

  }
  &__sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    margin-left: 15px;
    transition: 0.1s;
    background-color: lighten($main-light-grey,10);
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: 0 0 16px 1px rgba($main-grey,0.6);
    &:after{
      position: relative;
      border-top: 8px solid $main-blue;
      top: 100%;
      display: block;
      content:"";
    }
    scrollbar-width: none;//mozilla
    &::-webkit-scrollbar {//-webkit-
      width: 8px !important;
      margin-right: 8px;
      background-color: $main-green;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $main-blue;
      width: 4px;
      margin: 0 auto;
    }
    -ms-overflow-style: none;// IE
  }
  &__sub-item{
    display: block;
    padding: 16px 16px;

    transition: 0.3s;
    color: #000;
    position: relative;
    &:not(:last-child){
      border-bottom: 1px solid $main-light-grey;
    }
    &:last-child{
      margin-bottom: 20px;
    }
    &:hover{
      background-color: $main-light-grey;
    }
  }
}
  @media all and(min-width: $small-tablet-width){
    .main-catg {
      &-item:hover &__sub-menu {
        visibility: visible;
        opacity: 1;
      }

    }
  }
@media all and(max-width: $small-tablet-width){
  .main-catg {
    &-item{
      &__arrow{
        display: block;
      }
    }
  }
}
  @media all and(max-width: $tablet-width){
    .main-catg-item{
      &:nth-of-type(n){
        margin-bottom: 32px;
      }
    }
  }
  @media all and(max-width: $mobile-Width){
    .main-catg{
      &-item{
        &__arrow{
          width: 50px;
        }
      }
    }
  }
  @media all and(max-width: $mobileXsWidth){
    .main-catg-item{
      &:nth-of-type(n){
        margin-bottom: 16px;
      }
      &__arrow{
        width: 50%;
      }
    }
  }
