.main-banner{
  margin-top: 40px;
  &__item{
    height: 100%;
    width: 100%;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    &--big{
      height: 320px;
    }
    &--small{
      height: 220px;
    }
  }
  &__slider{
    display: none;
  }
}
@media all and (max-width:  $tablet-width) {
  .main-banner{
    &__item{
      max-height: 320px;
      &--small{
        height: 320px;
      }
      &--tall{
        margin-top: 32px;
        min-height: 320px;
      }
    }
  }
}
@media all and (max-width:  $small-tablet-width) {
  .main-banner {
    margin-top: 40px;
    margin-bottom: 40px;
    &__slider{
      display: flex;
    }
    &__desktop{
      display: none;
    }
    &__item {
      &--small,&--big{
        &:not(:first-child){
          margin-top: 32px;
        }
      }
      &--small{
        height: 208px;
      }
      &--tall{
        margin-top: 32px;
        height: 208px;
      }
      &--big{
        height: 208px;
      }
    }
  }
}