.nav{
  width: 100%;
  background-color: $main-blue;
  z-index: 9999;
  position: relative;
  &__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    width: 100%;
  }
  &__item{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child){
      margin-right: 16px;
    }
    a{
      padding: 16px 0;
      display: flex;
      align-items: center;
    }
  }
  &__item a:hover{
    color: #fff;
  }
  &__sub-list{
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    list-style: none;
    opacity: 0;
    transition: 0.3s;
    padding-top: 10px;
    &:after{
      position: absolute;
      top:0;
      left: 16px;
      content:"";

      border-bottom: 10px solid $main-blue;
      border-left:   8px solid transparent;
      border-right:  8px solid transparent;
    }
  }
  &__sub-item{
    a{
      padding: 16px 24px;
      background-color: $main-blue;
    }

    a{
      color: #fff;
      height: 100%;
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }

}
@media all and(min-width: $small-tablet-width){
  .nav{
    &__item:hover &__sub-list{
      visibility: visible;
      opacity: 1;
    }
  }
}
@media all and(min-width: $tablet-width){
  .nav{
    &__sub-item{
      &:hover{
        a{
          background-color: $main-blueHover;
        }
      }
    }
  }
}
@media all and(max-width: $small-tablet-width){
  .nav{
    &__item{
      height: auto;
      justify-content: flex-start;
      flex-wrap: wrap;
      &:nth-of-type(n){
        margin-right: 0;
      }

    }
    &__item[data-navAccord]{
      &:after{
        width: 100px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        content:"";
      }
      &:before{
        position: absolute;
        top: 24px;
        right: 0;
        border-top: 4px solid #fff;
        border-left:   4px solid transparent;
        border-right:  4px solid transparent;
        content:"";
      }
      &.active{
        &:before{
          transform: rotate(180deg) translateY(2px);
        }
      }
    }
    &__sub-list{
      position: static;
      width: 100%;
      transition: opacity 0.5s;
      max-height: 0;
    }
    &__sub-item {
      position: relative;
      a {
        padding: 16px 16px;
        justify-content: flex-start;
      }
      &:not(:last-child){
        &:after{
          width: 90%;
          position: absolute;
          bottom: 0;
          border-bottom: 1px solid rgba(#fff,0.2);
          left: 50%;
          transform: translateX(-50%);
          content: "";
        }
      }

    }
    &__item.active &__sub-list{
      max-height: none;
      visibility: visible;
      opacity: 1;
    }
  }
}