.payment{
  display: flex;
  margin: auto 0;
  &__item{
    max-height: 24px;
    height: 30px;
    display: flex;
    flex-shrink: 0;
    img{
      object-fit: contain;
    }
    &:not(:last-child){
      margin-right: 16px;
    }
  }
}
@media all and(max-width: $mobileXsWidth){
  .payment{
    align-items: flex-end;
    &__item{
      height: 24px;
      max-height: 16px;
    }
    margin: 0 0 0 auto;
  }
}