.payment{
  display: flex;
  &__item{
    max-height: 24px;
    display: flex;
    max-width: 200px;
    img{
      max-height: 100%;
      object-fit: contain;
      height: 100%;
      object-position: center;
    }
    &:not(:last-child){
      margin-right: 16px;
    }
  }
}