.property-grid-item {
  &--top {
    overflow: hidden;
    position: relative;

    .property-grid-image {
      &:before {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 48px;
        left: -12px;
        font-size: 12px;
        width: 100px;
        transform-origin: left;
        transform: rotate(-45deg) translateY(-50%);
        height: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: $main-green;
        color: #fff;
        content: "TOП";
        z-index: 20;
      }
    }
  }
}
.property-grid-view .property-grid-item .property-grid-title {
  font-size: 1.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 30px;
  margin: 0;
  z-index: 999;
  color: #fff;
  line-height: 110%;
  font-weight: 700;
}

.property-grid-view .property-grid-item .property-grid-title-v2 {
  text-align: left;
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #1d1d1d;
}

.property-grid-view .property-grid-item .property-grid-title-v2 a {
  color: #1d1d1d;
}

.property-grid-view .property-grid-item .property-grid-title-v2 a:hover {
  color: #0015d3;
}

.property-grid-view .property-grid-image,
.compare-property-image .property-grid-image {
  width: 100%;
  display: block;
  position: relative;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70%;
  background-color: #0015d3;
}