.aboutUs{
  &__card{
    margin-left: auto;
    transition: 1s;
    transform: translateX(90%) translateZ(0);
    &.appeared{
      transform: translateX(0) translateZ(0);
    }
    &:not(last-child){
      margin-bottom: 32px;
    }
    &--large{
      width: 100%;
    }
    &--small{
      width: 80%;
    }
    &--medium{
      width: 90%;
    }
  }
  &__greet{
    display: flex;
    position: relative;
    margin-bottom: 24px;
  }
  &__greet-logo{
    width: 100%;
    max-width: 290px;
  }
  &__greet-center{
    margin: 0 auto;
  }
  &__greet-logo{
    margin: 0 auto;
  }
  &__greet-title{
    margin-top: 48px;
    font-size: 32px;
    margin-bottom: 0;
    color: $main-blue;
    text-align: center;
    font-family: 'aFuturaOrto',arial,sans-serif;
  }
  &__slide-text{
    margin-bottom: 32px;
    line-height: 1.7;
    font-size: 18px;
  }
  &__mission{
    margin: 24px 0 40px;
  }
}
@media all and(max-width: $mobile-Width){
  .aboutUs {
    &__greet-logo{
      max-width: 220px;
    }
    &__card {
      width: 100%;
    }
  }
}
@media all and(max-width: $mobileXsWidth){
  .aboutUs {
    &__greet-title{
      font-size: 22px;
    }

  }
}