.aboutUs-card{
  display: flex;
  align-items: center;
  &__number{
    flex-shrink: 0;
    padding: 20px 10% 20px 24px;
    margin-right: -13%;
    border-radius: 10px;
    background-color: $second-blue;
    font-size: 54px;
    font-family: 'aFuturaOrto',arial,sans-serif;
    line-height: 1;
    box-shadow: 0 0 16px 0 $main-grey;
    color: $main-blue;
  }
  &__content{
    font-size: 18px;
    width: 100%;
    font-weight: 400;
    color: #fff;
    display: flex;
    position: relative;
    align-items: center;
    line-height: 1.5;
    padding: 40px;
    min-height: 200px;
    padding-left: 15%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &:after{
      width:100vw;
      position: absolute;
      left: 100%;
      margin-left: -6px;
      background-size: 100px;
      background:url('img/noise.png'), linear-gradient(to right,#3abf5d 1%,#7acc82 60%);
      content:'';
    }

  }
  &--upper &__content{
    background-image: url('img/aboutUsFigure.png') ;
    &:after{
      top: 1px;
      bottom: 0;

    }
  }
  &--bottom &__content{
    background-image: url('img/aboutUsFigure2.png');
    &:after{
      top: 0;
      bottom: 1px;
    }
  }
}
@media all and(max-width: $small-tablet-width){
  .aboutUs-card{
    &__number{
      white-space: nowrap;
      font-size: 44px;
    }

  }
}
@media all and(max-width: $mobile-Width){
  .aboutUs-card{
    &__content{
      font-size: 16px;
    }
  }
}
@media all and(max-width: $mobileXsWidth){
  .aboutUs-card{
    &__content{
      font-size: 14px;
      min-height: 160px;
      padding: 16px 8px 16px 15% ;
    }
    &__number{
      font-size: 32px;
      padding: 20px 11% 20px 12px;
    }
  }
}