.user-content{
  padding: 40px 0;
  display: flex;

  &__user-menu{
    max-width: 320px;
    margin-right: 56px;
    width: 100%;
  }
  &__content{
    flex-grow: 1;
  }
  &__advert-cards{
    margin-top: 32px;
    & .advert-card{
      width: 100%;
      &:not(:last-child){
        margin-bottom: 24px;
      }
    }
  }
  &__user-packages{
    padding: 40px 0;
  }
  &__packages{
    padding-top: 40px;
  }
  &__user-pack{
    &:not(:last-child){
      margin-bottom: 40px;
    }
  }
  &__pagin{
    margin: 0 0 40px 0;
  }
}
@media all and(max-width: $tablet-width){
  .user-content{
    &__user-menu{
      display: none;
    }
  }
}